/*CSS DOCUMENT*/

body {
	font-family: sans-serif;
	line-height: 1.4em;
	color: #222;
	background-color: #fafafa;
	box-sizing: border-box;
	}
	
div.container {
	display: flex;
	flex-direction: column;
    max-width: 40em;
    margin: 0 auto;
    padding: 1em;
}

section h3 {
	margin-bottom: 0;
}

section ul li {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

section.personal-info ul {
	padding-left: 0;
	margin-left: 0;
	list-style: none;
}

section.personal-info ul li label {
	flex: 1 0 30%;
	text-align: left;
}

section.personal-info ul li input[type="text"],
section ul li input[type="email"],
section ul li input[type="tel"],
section ul li select {
	flex: 1 0 70%;
	box-sizing: border-box;
	margin-bottom: 1.5em;
}


section.order, section.method {
	display: flex;
	flex-direction: column;
}

section.order ul, section.method ul {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
}

section.order ul li, section.method ul li {
	flex: 1 0 50%;
	box-sizing: border-box;
	padding-right: 1em;
	margin: 0 0 0.5em 0;
	min-width: 16em;
}

section {
    background: #eee;
    padding: 1em;
    margin-bottom: 1em;
}

section p {
	margin-top: 0;
}

textarea {
	box-sizing: border-box;
	display: flex;
	width: 100%;  
	height: 6em;
	background: #fcfcfc;
	border: 1px solid #e8e8e8;
	padding: 0.4em;
	font-family: sans-serif;
	color: #777;
	}

@media only screen and (min-width: 40em) {

  div.container {
    margin: auto;
  }

}
