/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(images/plantCollection.jpeg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
	max-width: 60em;
	margin: auto;
	background-color: rgb(255, 255, 255)
}

div.container { 
	position: relative;
	min-height: 100vh;
	max-width: 60em;
	margin: auto;
	background-color: rgb(255, 255, 255);
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */

main { 
	padding: 2rem 2rem 3rem;
	}

img {
    width: 100%; /*Please leave this line.*/
    display: block;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background: rgb(242, 231, 176);
	padding: 1em 1em;
	}

h1 {
	width: auto;
	}

h2, h3, h4 {
	font-family: "rl-horizon", sans-serif;
		font-weight: 600;
	}

h2 {
	font-size: 2rem;
	margin: 2rem 0 1rem;
	}
	
h3 {
	font-size: 1.5rem;
	margin: 2rem 0rem 1rem;
}


a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	}
	
ul li 	{
	list-style-type: none;
}

figure {
	margin-bottom: 2rem;
}

main.menu ul {
		margin: 2rem 0 2rem;
}	

main.menu ul li {
		margin-top: 1rem;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
}	

p {
	margin: 1rem 0;
	}
	
p.description {
	grid-column: 1 / span 2;
	grid-row: 2;
	margin: 0rem 0 1rem;
	}
	
p.price {
	grid-row: 1;
	grid-column: 2;
	color: rgb(0, 0, 0);
	text-align: right;
	margin: 0rem 0 0;
	}

	
nav ul li {
	font-weight: bold;
	margin-bottom: 1.5rem;
	}

	
nav ul li a {
	color: rgb(0, 0, 0);
	padding: 0.5rem 0.5rem;
	}
	

p.slogan {
	font-size: 4rem;
    font-family: serif;  
    font-style: italic;  
	margin: 2rem 0rem 4rem;
	color: rgb(255, 255, 255);	
	}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1rem 0.5rem;
}

address {
	color: rgb(0, 0, 0);
	}

footer p {
	margin: 0;
}

body {  
    font-family: sans-serif;  
}  

nav ul li.selected  a{
	color: rgb(255, 255, 255);
	background-color: rgb(43, 43, 43);
}

article{
	margin: 0 10em;
}

@media screen and (min-width: 60em) {
	header {
		grid-template-columns: 10rem auto;
	}
	
	nav ul  {
		justify-self: right;
	}

	nav ul li{
		display: inline;
		margin: 0.5rem;
		font-size: 2rem;
	}

	main.menu ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0rem 3rem;
	}	
}