/*CSS DOCUMENT*/

body {
	font-family: sans-serif;
	line-height: 1.4em;
	color: #000000;
	background-color: #fafafa;
	margin: 0 1em;
}

.container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 60em;
	margin: auto;
}

header{
	flex: 1 0 100%;
	text-align: left;
}

h1 { 
	margin: 2em 0 0 0;
}


img {
	width: 100%;
}

article {
	flex: 4 1 400px;
}

aside {
	flex: 1 1 200px;
}

aside a {
	color: #000000;
	text-decoration: none;
}


figure {
	margin: 0;
}

p {
	margin: 1rem 0;
}

ol {
	padding: 0;
}


section {
	padding: 1rem;
	background-color: #eee;
	margin-bottom: 1rem;
}

section h3 {
	margin: 1rem 0 0 0;
}

section p {
	margin: 0 0 1rem 0;
}


footer{
	margin-top: 1rem;
	flex: 1 1 100%;
	padding: 0rem;
	border-top: 1px solid #ccc;
}

footer a {
	color: #000000;
	text-decoration: none;
}




